<h1>Welcome to Vibin Music, <%= @user.name %>!</h1>

<p>Enjoy your 1 month premium membership trial! <br>
  No ads, live stream abilities and more songs than spotify.</p>

<p>
  Thanks for registering! To confirm your registration click the URL below.
</p>
<%= link_to "Activate", confirm_email_url(@user.confirm_token, host: "localhost:3000") %>
