.Non-UserHomePage {
    min-width: 450px;
    height: 550px;
    overflow: hidden;
    overflow-x: hidden;
    border-style: dashed;
    border-color: #00aaff;
}

.LeftSide {
    height: 550px;
    width: 450px;
    float: left;
    border-style: dashed;
    border-color: pink;
}

.RightSide {
    float: right;
    height: 550px;
    margin-left: 15px;
    border-color: purple;
    border-style: dashed;
    display: block;
}

.TopBroadcast {
    height: 235px;
    width: 450px;
    float: left;
    border-color: #25a805;
    border-style: dashed;
}

.Slideshow {
    height: 300px;
    margin-top: 15px;
    margin-top: 250px;
    border-style: dashed;
    border-color: #cc0000;
    background-color: #c9c8c8;
}

.TopBroadcasts {
    margin-left: 15px;
    float: left;
    height: 550px;
    width: 150px;
    border-style: dashed;
    border-color: #2E2F30;
}

.TopSongs {
    margin-left: 15px;
    float: left;
    height: 550px;
    width: 150px;
    border-style: dashed;
    border-color: #2E2F30;
}

.Trending {
    margin-left: 15px;
    float: left;
    height: 550px;
    width: 150px;
    border-style: dashed;
    border-color: #2E2F30;
}

.GenreList {
    margin-left: 15px;
    float: left;
    height: 550px;
    width: 150px;
    border-style: dashed;
    border-color: #2E2F30;
}
