<div id="yourTaste" class="YourTaste">
  <div class="HorizontalSongsDisplay" id="horizontalSongsDisplay">
    <div id="coverflo">

      <img src="/default-avatar.jpg" id="img1" class="Cover"/>
      <p id="img1text">Lmaosfdsf<br>dvdsvsdvdsv</p>
      <img src="/default-avatar.jpg" id="img2" class="Cover"/>

      <img src="/default-avatar.jpg" id="img3" class="Cover"/>
      <img src="/default-avatar.jpg" id="img4" class="Cover"/>
      <img src="/default-avatar.jpg" id="img5" class="Cover"/>
      <img src="/default-avatar.jpg" id="img6" class="Cover"/>
      <img src="/default-avatar.jpg" id="img7" class="Cover"/>
      <img src="/default-avatar.jpg" id="img8" class="Cover"/>
      <img src="/default-avatar.jpg" id="img9" class="Cover"/>
    </div>
  </div>
  <div class="slidecontainer">
    <input type="range" min="1" max="100" value="1" class="slider" id="myRange">
  </div>
</div>
  <script>
      $start = $("#yourTaste").width();
      $("#img1text").addClass("ui-coverflow-item");
      $("#img1text").addClass("ui-state-active");

      $display = $('#horizontalSongsDisplay').width();
      $('#horizontalSongsDisplay').css('width', $display+1000);
      $('#horizontalSongsDisplay').css('left', -($start/2)-300);
      $(window).resize(function () {
          $("#img1text").css("transform", "matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)");
          $("#img1text").css("transform-origin", "left center 0");
          $("#img1text").css("z-index", "20");
          console.log('lols');
          start = $("#yourTaste").width();
          display = $('#horizontalSongsDisplay').width();
          $('#horizontalSongsDisplay').css('width', $display+1000);
          $('#horizontalSongsDisplay').css('left', -($start/2)-300);
      });
      $(function() {
          $("#img1text").css("transform", "matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1)");
          $("#img1text").css("transform-origin", "left center 0");
          $("#img1text").css("z-index", "20");
          console.log($start);
      //    $('#horizontalSongsDisplay').css();
          // and kick off
          $('#coverflo').coverflow({
              active:0
          });
      });
      var slider = document.getElementById("myRange");

      // Update the current slider value (each time you drag the slider handle)
      slider.oninput = function() {
          $('#img'+this.value).click();
          console.log(this.value);
      }
  </script>

