<% if logged_in? && current_user.likeMusic?(song) %>
    <a data-remote="true" rel="nofollow" data-method="delete" href="/songs/<%= song.id %>/like"><img src="http://localhost:3000/unfire.png" height="40px;"></a>
<% else %>
    <a data-remote="true" rel="nofollow" data-method="post" href="/songs/<%= song.id %>/like"><img src="http://localhost:3000/fire.png" height="40px;"></a>
<% end %>
<%= song.songlikes.count %>
