<%= form_with(model: @newPost, multipart: true, :html => {:style => 'width: 100%;'}) do |f| %>
  <div hidden class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Post</h5>
  </div>
  <div class="row" style="justify-content: end;">
    <div class="col-1" style="margin-right: 20px; margin-top: 2px;">
      <span class="CancelPostModal" id="cancelPostModal"> X</span>
    </div>
  </div>
  <div class="row justify-content-center" style="margin: 10px 10px 10px 10px;">
    <div class="" style=" width:min-content; display: flex;">
      <img src="default-avatar.jpg" class="PostFormUserAva">
    </div>
    <div class="col-9" style="margin-top: 8px;">
      <%= f.text_area :content, class: "PostFormText", rows: 1, placeholder: "Text", id: "post_content" %>
    </div>
  </div>
  <div class="row justify-content-center" id="previewImages">
  </div>
  <div class="container justify-content-center" id="previewSongs">

  </div>
  <input hidden class="photo_upload" id="images" type="file" multiple="true" accept="image/jpeg, image/tiff, image/png">
  <div class="row justify-content-end" style="margin-top: 9px;">
    <div class="col-2">
      <button class="PostFormButton" id="imageUploader">
        <%= image_tag "PictureUploadButton.png", style: "height:30px; width:30px;" %>
      </button>
    </div>
    <div class="col-2">
      <button class="PostFormButton" id='songUploader'>
        <%= image_tag "MusicButton.png", style: "height:30px; width:30px;" %>
      </button>
    </div>
    <input hidden class="" name="post[songs][]" id="songs" type="file" multiple="true" accept="audio/*">
    <div class="col-3">
      <button class="PostFormSubmitButton" id="submitt" onclick=submitPost($(".PostFormText").val())>
        Submit
      </button>
    </div>
  </div>
<% end %>

<script>
    var featuredArtistCount = new Array();
    var featuredArtist = new Array();
    var imagesCount = 0;
    var imagefiles = new Array();
    var songCount = 0;
    var songfiles = new Array();
    var genreCount = 0;
    var genres = new Array();
    var tagCount = 0;
    var tags = new Array();

    function submitPost(content) {
        var form = new FormData();
        form.append("content", content);
        for (var i = 0; i < imagesCount; i++) {
            form.append("images[]", imagefiles[i]);
        }
        Rails.ajax({
            type: "POST",
            url: "/newPost?",
            data: form,
            processData: false,
            contentType: false,
            success: function (data, textStatus, xhr) {
                console.log("supposedly worked");
            },
            error: function (data) {
                console.log("error " + data);
            }
        });
    }

    window.addEventListener('DOMContentLoaded', function () {
        document.getElementById("cancelPostModal").addEventListener("click", function () {
            document.getElementById("post_content").value = "";
            if (document.getElementById("previewImages").contains(document.getElementById('images1'))) {
                document.getElementById("previewImages").removeChild(document.getElementById("images1"));
            }
            console.log("closed");
        });
        document.getElementById("post_content").addEventListener("onkeypress", function (event) {
            console.log("ds");
        });
        document.getElementById("imageUploader").addEventListener("click", function (event) {
            event.preventDefault();
            $("#images").trigger("click");
            event.preventDefault();
        });
        document.getElementById("songUploader").addEventListener("click", function (event) {
            event.preventDefault();
            $("#songs").trigger("click");
            event.preventDefault();
        });
        document.getElementById("submitt").addEventListener("click", function (event) {
            event.preventDefault();
        });
        var height;
        var width;
        var reader;
        var img;
        var resolution;
        var style;
        $("#images").change(function (event) {
            var files = document.getElementById("images").files;
            for (var i = 0; i < files.length; i++) {
                imagefiles.push(files[i]);
                img = new Image();
                reader = new FileReader();
                imagesCount += 1;
                console.log("imagefiles length: " + imagefiles.length);
                console.log("files length: " + files.length);
                console.log(files[i].name);
                console.log(files[i]);
                reader.readAsDataURL(files[i]); // convert to base64 string
                reader.onload = function (e) {
                    console.log(e);
                    img.src = e.target.result;
                    var col = document.createElement('div');
                    col.setAttribute('style', "flex-basis: 0; margin: 5px 8px 8px 5px;");
                    document.getElementById("previewImages").appendChild(col);
                    img.onload = function () {
                        width = this.width;
                        height = this.height;
                        console.log("width: " + width);
                        console.log("height: " + height);
                        resolution = width / height;
                        console.log("resolution: ", resolution);
                        if (resolution > 1) {
                            if (width > 500) {
                                width = 250;
                                height = width / resolution;
                            }
                        } else {
                            if (height > 500) {
                                height = 250;
                                width = height * resolution;
                            }
                        }
                        style = "height:" + height + "px; width: " + width + "px; display: inline-block;";
                        img.setAttribute("style", style);
                        console.log("pushedssss" + e.target.result)
                        var cancel = document.createElement("span");
                        cancel.setAttribute('style', "background-color: red; height: 30px; width: 30px; position: absolute;");
                        cancel.setAttribute("onclick", "removeImage(this)");
                        document.getElementById("previewImages").lastChild.appendChild(cancel);
                        document.getElementById("previewImages").lastChild.appendChild(img);
                    };
                }
            }
        });
        var audio;

        var audioTag;
        var progressBar;
        var coverImage;
        var premiumCheckBox;
        var featuredArtistTextBox;
        var genreTagsTextBox;
        var titleTextBox;
        var rowDiv;
        var col2;
        var col9;
        var col4;
        var earnMoney = document.createElement('p');
        earnMoney.setAttribute('style', 'font-size: 14px; display: inline;');
        var earnMoneyText = document.createTextNode("Earn Money ");
        earnMoney.appendChild(earnMoneyText);
        var earnMoneyHyperLink;
        var linkText = document.createTextNode("Learn More");
        var previewRow;
        var audioplayer;
        $("#songs").change(function (event) {
            var files = event.target.files;
            for (var i = 0; i < files.length; i++) {
                songCount += 1;
                var songfile = event.target.files[0];
                songfiles.push(files[i]);
                audio = new Audio();
                reader = new FileReader();
                reader.readAsDataURL(files[i]);
                rowDiv = document.createElement('div');
                rowDiv.setAttribute('class', 'row');
                rowDiv.setAttribute('style', 'margin-left: -10px; width: 98%;');
                document.getElementById('previewSongs').appendChild(rowDiv);
                coverImage = document.createElement("img");
                coverImage.setAttribute('style', 'height: 100px; width: 100px;');
                coverImage.setAttribute("src", 'default-avatar.jpg');
                col2 = document.createElement('div');
                col2.setAttribute('style', 'width: 100px; flex: initial;');
                col2.appendChild(coverImage);
                rowDiv.appendChild(col2);
                titleTextBox = document.createElement('input');
                titleTextBox.setAttribute('style', 'height: 30px; width: 60%;');
                titleTextBox.setAttribute('placeholder', 'Title of Song');
                featuredArtistTextBox = document.createElement('input');
                featuredArtistTextBox.setAttribute('type', 'text');
                featuredArtistTextBox.setAttribute('style', 'width: 170px; height: 30px; display: inline;');
                featuredArtistTextBox.setAttribute('placeholder', 'Featured Artist');
                featuredArtistTextBox.setAttribute('id', 'featuredArtist');
                featuredArtistTextBox.setAttribute('onkeyup', 'addFeaturedArtist(event, this)');
                featuredArtistTextBox.setAttribute('onkeydown', 'testt(event)');
                featuredArtistTextBox.setAttribute('onfocus', 'addAtSign(this)');
                genreTagsTextBox = document.createElement('input');
                genreTagsTextBox.setAttribute('style', 'width: 170px; height: 30px; display: inline;');
                genreTagsTextBox.setAttribute('type', 'text');
                genreTagsTextBox.setAttribute('placeholder', 'Genres/#Tags');
                genreTagsTextBox.setAttribute('id', 'genreTags');
                genreTagsTextBox.setAttribute('onkeypress', 'addGenreTag(event, this)');
                col9 = document.createElement('div');
                col9.setAttribute('style', 'height: min-content; margin-left: 5px; flex: 1; ');
                rowDiv.appendChild(col9);
                premiumCheckBox = document.createElement('input');
                premiumCheckBox.setAttribute('type', 'checkbox');
                premiumCheckBox.setAttribute('style', 'margin-left: 5px; margin-right: 1px;');
                var row1 = document.createElement('div');
                row1.setAttribute('style', 'height: 30px; width: 100%; display: block;');
                row1.setAttribute('id', 'row1');
                col9.appendChild(row1);
                row1.appendChild(titleTextBox);
                row1.appendChild(premiumCheckBox);
                row1.appendChild(earnMoney);
                earnMoneyHyperLink = document.createElement('a');
                earnMoneyHyperLink.appendChild(linkText);
                earnMoneyHyperLink.setAttribute('href', '');
                earnMoneyHyperLink.setAttribute("style", 'font-size: 13px; word-break: break-all');
                row1.appendChild(earnMoneyHyperLink);
                var row2 = document.createElement('div');
                row2.setAttribute('style', 'height: 30px; width: 100%; display: block;');
                row2.setAttribute('id', 'row2');
                row2.appendChild(featuredArtistTextBox);
                col9.appendChild(row2);
                var row3 = document.createElement('div');
                row3.setAttribute('style', 'height: 30px; width: 100%; display: block;');
                row3.setAttribute('id', 'row3');
                row3.appendChild(genreTagsTextBox);
                col9.appendChild(row3);
                previewRow = document.createElement('div');
                previewRow.setAttribute('class', 'row');
                previewRow.setAttribute('style', 'height: min-content; margin-top:5px;');
                previewRow.setAttribute('id', 'wave');
                var setPreviewParagraph = document.createElement('p');
                setPreviewParagraph.setAttribute('style', 'margin-left: 90px;');
                var setPreviewText = document.createTextNode("Set Preview");
                setPreviewParagraph.appendChild(setPreviewText);
                previewRow.appendChild(setPreviewParagraph);
                var playButton = document.createElement('button');
                playButton.setAttribute('style', 'margin-left: 10px; height: 20px; width: 20px;');
                previewRow.appendChild(playButton);
                rowDiv.after(previewRow);
                let wavesurfer = WaveSurfer.create({
                    container: '#wave',
                    waveColor: '#A8DBA8',
                    progressColor: '#3B8686',
                    plugins: [
                        WaveSurfer.regions.create({
                            regions: [
                                {
                                    name:"main",
                                    start: 1,
                                    end: 30,
                                    color: 'hsla(400, 100%, 30%, 0.5)'
                                },

                            ],
                            dragSelection: false
                        })
                    ]
                });

                reader.onload = function (e) {
                    wavesurfer.load(URL.createObjectURL(songfile));
                };
                var wave = document.getElementsByTagName('wave')[0];
                //var waveRegion = WaveSurfer.create.region;
                wave.className = "wave";
                wavesurfer.on('ready', function () {

                });

                function timeo() {
                    var duration =wavesurfer.getDuration();
                    var start = wavesurfer.regions.list['main'].start;
                    var startplayTime = start/duration;
                    console.log(startplayTime);
                    wavesurfer.seekTo(startplayTime);
                    wavesurfer.play();

                }

                playButton.addEventListener('click', function (e) {
                    e.preventDefault();
                    if (wavesurfer.isPlaying()) {
                        wavesurfer.pause();
                    } else {
                        wavesurfer.play();
                    }
                });
                /*
                 audioplayer = document.createElement("audio");
                 audioplayer.setAttribute("id", "player");
                 audioplayer.setAttribute("style", "height: 20px; width: 100px;");
                 titleTextBox = document.createElement("div");
                 titleTextBox.setAttribute('class', 'row');
                 titleTextBox.appendChild(coverDiv);
                 document.getElementById('previewSongs').appendChild(titleTextBox);
                 audio = document.createElement("source");
                 document.getElementById("previewSongs").appendChild(audioplayer);
                 audio.setAttribute("src", URL.createObjectURL(files[i]));
                 document.getElementById("player").appendChild(audio);
                 audioplayer.load();
                 audioplayer.play();

                 */
            }
            // var files = document.getElementById("songs").files;
            // for (var i = 0; i < files.length; i++) {
            //   songCount += 1;
            // songfile = event.target.files[0];
            //songfiles.push(files[i]);
            //audio = new Audio();
            //reader = new FileReader();
            //reader.readAsDataURL(files[i]);
            //reader.onload = function (e){
            //audio.setAttribute('src', URL.createObjectURL(songfile));
            //var col = document.createElement('div');
            //col.setAttribute('style', "flex-basis: 0; margin: 5px 8px 8px 5px;");
            //document.getElementById("previewSongs").appendChild(col);
            //audio.onload = function () {
            // document.getElementById("previewSongs").appendChild(audio);
            ///audio.play();
            //rowDiv = document.createElement("div");
            //rowDiv.setAttribute('class', 'row justify-content-center');

            //progressBar = document.createElement("progress");
            //progressBar.setAttribute('id', 'progressBar');
            //progressBar.setAttribute("value", "0");
            //progressBar.setAttribute("max", "1");
            //titleTextBox = document.createElement("input");
            //titleTextBox.setAttribute('style', 'height: 30px; width: 100px;');
            //document.getElementById('')
            //document.getElementById("previewSongs").firstChild.appendChild(progressBar);
            //audioTag.setAttribute("ontimeupdate", "initProgressBar()");
            //document.getElementById("previewSongs").appendChild(audioTag);
            //audioTag.setAttribute("ontimeupdate", "initProgressBar()");
            //do
            //document.getElementById("previewSongs").appendChild(audioTag);
            //}
            // }

        });
    });


    var textarea = document.querySelector('textarea');

    textarea.addEventListener('keydown', autosize);

    function autosize() {
        var el = this;
        setTimeout(function () {
            el.style.cssText = 'height:auto;';
            // for box-sizing other than "content-box" use:
            // el.style.cssText = '-moz-box-sizing:content-box';
            el.style.cssText = 'height:' + (el.scrollHeight + 10) + 'px';
        }, 0);
    }

    function addAtSign(box) {
        box.value = "@";
    }

    function testingR(){
        console.log('df');
    }

    function testt(th) {
        var keynum;
        if (window.event) {
            keynum = th.keyCode;
        } else if (key.which) {
            keynum = th.which;
        }
        if (keynum == 13) {
            window.event.preventDefault();
            console.log('keydown');
        }
    }

    function addFeaturedArtist(key, str) {
        var keynum;
        if (window.event) {
            keynum = key.keyCode;
        } else if (key.which) {
            keynum = key.which;
        }
        if (keynum == 8 && s.length == 0) {
            console.log('sdf');
            str.value = "@";
        }
        if (str.value[0] != '@') {
            str.value = '@' + str.value;
        }
        if (keynum == 13) {
            window.event.preventDefault();
            addFeaturedArtistElement(str.value);
            featuredArtist.push(str.value);
            str.value = "@";
        }
    }

    function addFeaturedArtistElement(str) {
        var span;
        span = document.createElement('span');
        span.setAttribute('style', 'padding: 3px; border-radius: 5px; margin-left: 3px; margin-right:3px; width: min-content; height: 25px; background-color: pink; display: inline;');
        var textNode = document.createTextNode(str);
        span.setAttribute('onclick', 'removetest(this, "row2")');
        var strr = str + '2';
        span.setAttribute('id', strr);
        span.appendChild(textNode);
        var colDiv = document.getElementById('row2');
        var featuredArtistBox = document.getElementById('featuredArtist');
        colDiv.insertBefore(span, featuredArtistBox);
    }

    function addGenreTag(key, str) {
        var keynum;
        var s = str.value;
        var typpe;
        if (window.event) {
            keynum = key.keyCode;
        } else if (key.which) {
            keynum = key.which;
        }
        if (keynum == 13) {
            window.event.preventDefault();
            if (str.value[0] == '#') { // tag
                var strr = s.substring(1, s.length);
                if (!tags.includes(strr)) { // check if already exist
                    tags.push(strr);
                    typpe = 0;
                } else {
                    return;
                }
            } else {
                if (!genres.includes(s)) {
                    genres.push(s);
                    typpe = 1;
                } else {
                    return;
                }
            }
            addGenreTagElement(s, typpe);
            str.value = "";
        }
    }

    function addGenreTagElement(str, genreOrTag) {
        var span;
        span = document.createElement('span');
        if (genreOrTag == 0) { //tag
            span.setAttribute('style', 'padding: 3px; border-radius: 5px; margin-left: 3px; margin-right:3px; width: min-content; height: 25px; background-color: pink; display: inline;');
        } else { // genre
            span.setAttribute('style', 'padding: 3px; border-radius: 5px; margin-left: 3px; margin-right:3px; width: min-content; height: 25px; background-color: purple; display: inline;');
        }
        var strr = str + genreOrTag;
        if (strr[0] == '#') {
            strr = strr.substring(1, strr.length);
        }
        span.setAttribute('id', strr);
        span.setAttribute('onclick', 'removetest(this, "row3")');
        var textNode = document.createTextNode(str);
        span.appendChild(textNode);
        var colDiv = document.getElementById('row3');
        var genreTagBox = document.getElementById('genreTags');
        colDiv.insertBefore(span, genreTagBox);
    }

    function removetest(obj, type) {
        var parent = document.getElementById(type);
        var child = document.getElementById(obj.id);
        parent.removeChild(child);
        var text = obj.id.substring(0, obj.id.length - 1);
        console.log('text ' + text);
        var GorT = obj.id.substring(obj.id.length - 1, obj.id.length);
        console.log("GorT ", GorT);
        if (GorT == '0') {//tag
            var index = tags.indexOf(text);
            console.log('tag index ' + index);
            tags.splice(index, 1);
            tagCount -= 1;
        } else if (GorT == '1') { //genre
            var index = genres.indexOf(text);
            console.log('genre index ' + index);
            genres.splice(index, 1);
            genreCount -= 1;
        } else if (GorT == '2') { //featuredArtist
            var index = featuredArtist.indexOf(text);
            console.log('featured Artist index ' + index);
            genres.splice(index, 1);
            featuredArtistCount -= 1;
        }
    }

    function removeImage(i) {
        var col = i.parentNode;
        var colParent = col.parentNode;
        console.log(colParent);
        var colIndex = Array.prototype.indexOf.call(colParent.children, col);
        console.log(colIndex);
        imagesCount -= 1;
        imagefiles.splice(colIndex, 1);
        document.getElementById("previewImages").removeChild(col);
    }

    function initProgressBar(song) {
        var player = document.getElementById('player');
        var length = player.duration;
        var current_time = player.currentTime;

        // calculate total length of value
        var totalLength = calculateTotalValue(length);

        // calculate current value time
        var currentTime = calculateCurrentValue(current_time);

        var progressbar = document.getElementById('progressBar');
        progressbar.value = (player.currentTime / player.duration);
        progressbar.addEventListener("click", seek);


        function seek(event) {
            var percent = event.offsetX / this.offsetWidth;
            player.currentTime = percent * player.duration;
            progressbar.value = percent / 100;
        }
    }

    function calculateTotalValue(length) {
        var minutes = Math.floor(length / 60);
        var seconds_int = length - minutes * 60;
        var seconds_str = seconds_int.toString();
        var seconds = seconds_str.substr(0, 2);
        var time = minutes + ':' + seconds;

        return time;
    }

    function calculateCurrentValue(currentTime) {
        var current_hour = parseInt(currentTime / 3600) % 24;
        var current_minute = parseInt(currentTime / 60) % 60;
        var current_seconds_long = currentTime % 60;
        var current_seconds = current_seconds_long.toFixed();
        var current_time = (current_minute < 10 ? "0" + current_minute : current_minute) + ":" + (current_seconds < 10 ? "0" + current_seconds : current_seconds);

        return current_time;
    }
</script>
