<%= form_with(model: @newPost, multipart: true, :html => { :style => 'width: 100%;' }) do |f| %>
  <div hidden class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Post</h5>
    <% if @newPost.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@newPost.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.full_messages.each do |message| %>
            <% puts message %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <div class="row" style="justify-content: end;">
    <div class="col-1"  style="margin-right: 20px; margin-top: 2px;">
      <button class="CancelPostModal" id="cancelPostModal"> X</button>
    </div>
  </div>
    <div class="row justify-content-center">
      <div class="col-2" style="text-align: center;">
        <img src="default-avatar.jpg" class="PostFormUserAva">
      </div>
      <div class="col-9" style="margin-top: 8px;">
        <%= f.text_area :content, class: "PostFormText", rows: 1, placeholder: "Text" %>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row justify-content-end" style="margin-top: 9px;">
      <div class="col-2">
        <button class="PostFormButton">
          <img src="PictureUploadButton.png">
        </button>
    </div>
      <div class="col-2">
        <button class="PostFormButton">
          <img src="MusicButton.png">
        </button>
      </div>
      <div class="col-3">
        <button class="PostFormSubmitButton">
          Submit
        </button>
      </div>
    </div>
<% end %>

<script>
    $(document).ready(function() {
        $('#cancelPostModal').click(function (event) {
            event.preventDefault();
        });
    });
    $(function () {

        /*
        $("#imagesUploader").on("click", function () {
            $("#images").trigger("click");
            console.log("lmaooo");
        });
        var preview = $("#previewPostImage");
        console.log(preview);
        $("#images").change(function (event) {
            var input = $(event.currentTarget);
            var file = input[0].files[0];
            var reader = new FileReader();
            console.log("lmaooo");
            reader.onload = function (e) {
                console.log("lmaooo");
                image_base64 = e.target.result;
                preview.attr("src", image_base64);
            };
            reader.readAsDataURL(file);
        });
      */
        var textarea = document.querySelector('textarea');

        textarea.addEventListener('keydown', autosize);

        function autosize() {
            var el = this;
            setTimeout(function () {
                el.style.cssText = 'height:auto;';
                // for box-sizing other than "content-box" use:
                // el.style.cssText = '-moz-box-sizing:content-box';
                el.style.cssText = 'height:' + (el.scrollHeight + 10) + 'px';
            }, 0);
        }


    });


</script>
