<% html = image_tag (images[0]), class: "expandedImage" %>
<button class=imageExpander onclick='expand("<%=escape_javascript html %>")'>
  <%= image_tag (images[0]), class: "imagePost1", id: "postImage" %></button>

