<div id="feed" style=" width: 100%;">
  <% @combine.each do |post| %>
    <% if post.instance_of? Song %>
      <%= render partial: "songs/song", locals: {song: post} %>
    <% elsif post.instance_of? Post %>
      <%= render partial: "posts/#{post.post_type}", locals: {post: post} %>
    <% elsif post.instance_of? Album %>
      <%= render partial: "albums/post", locals: {album: post} %>
    <% else %>
      <%= render partial: "broadcasters/post", locals: {broadcaster: post} %>
    <% end %>
  <% end %>
</div>
