/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require jquery-ui
 *= require_tree .
 *= require_self
1 *= require active_storage_drag_and_drop
 *= require jquery.minicolors
  */
@import "bootstrap";

// no visible scrollbar
/*
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
*/


//
////
////// main
////
//
body {
  overflow-x: hidden;
}

.main {
  border-color: #2E2F30;
  border-style: dashed;
  margin: 80px 50px 100px 50px;
  overflow-x: hidden;
  min-width: 450px;
}

a {
  text-decoration: none;
}

a:hover {
  background-color: inherit;
  text-decoration: none;
  color: white;
}


//
////
////// Nav bar
////
//

.navbar {
  position: fixed;
  z-index: 999;
  background-color: #99abd3;
  top: 0;
  width: 100%;
  min-width: 600px;
  height: 50px;

  .VibinTab {
    position: fixed;
    top: 0;
    left: 10px;
    width: 80px;
    height: 50px;
  }

  .ExploreTab {
    position: fixed;
    top: 0;
    left: 90px;
    width: 60px;
    height: 50px;
  }

  .GroupiesTab {
    position: fixed;
    top: 0;
    left: 150px;
    height: 50px;
    width: 60px;
  }

  .SearchBar {
    position: fixed;
    top: 5px;
    left: 230px;
    height: 40px;
    width: 250px;
    border-radius: 5px;
  }

  .MessagesTab {
    position: relative;
    float: left;
    height: 100%;
    width: 50px;
  }

  .messages {
    height: 45px;
    width: 45px;
    margin-top: 3px;
  }

  .notification {
    height: 45px;
    width: 100%;
    margin-top: 3px;
  }

  .NotificationTabDiv:hover .dropdown-content-notification {
    display: block;
  }

  .dropdown-content-notification:hover {
    display: block;
  }

  .NotificationTabDiv {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
  }

  .userTabDiv {
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    padding: 0;
  }
}

.navbar span:hover {
  background: #ddd;
}


.login {
  position: relative;
  float: right;
  width: 85px;
  height: 50px;
}

.dropdown-content-login {
  top: 50px;
  right: 0;
  display: none;
  position: fixed;
  width: 300px;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.login:hover .dropdown-content-login {
  display: block;
}

.dropdown-content-login:hover {
  display: block;
}

/*
.RootPage {
  background: url(Vibin_logo.jpg) center no-repeat;
  background-size: 100% 100%;
  width: 150px;
  height: 50px;
  margin-left: -20px;
  margin-top: -17px;
  border-style: solid;
  padding-right: 20px;
  style: none;
}
*/


.dropdown-content-notification {
  top: 50px;
  right: 50px;
  display: none;
  position: fixed;
  width: 100px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 999;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  top: 50px;
  right: 0;
  display: none;
  position: fixed;
  width: 100px;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 999;
}

.userTabDiv:hover .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}

.search-ava {
  display: inline-block;
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}


//
////
////// Footer
////
//

.musicbar {
  overflow: hidden;
  position: fixed;
  background-color: #f2f2f2;
  bottom: 0;
  width: 100%;
  height: 100px;
}


//
////
////// The Modal (background)
////  Add Animation
//

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0
  }
  to {
    bottom: 100px;
    opacity: 1
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 100px;
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fadeIn {
  from {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.modal-audio {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content-audio {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.modal-audio {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content-audio {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}


.modal-add-playlist {

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content-add-playlist {
  margin-top: 150px;
  position: fixed;
  right: 0;
  background-color: white;
  width: 383px;
  height: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 777; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
}

.broadcast_cover_area {
  margin-left: 50px;
}

.broadcast_cover {
  width: 270px;
  height: 270px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.center_text {
  margin: auto;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.album {
  width: 200px;
  height: 200px;
}

#conversation-body {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 2em;
}

#notification {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 300px;
  padding: 10px;
  border: 1px solid black;
  background-color: #fff;

  .close {
    cursor: pointer
  }
}


.playerAvatarImage {
  margin-left: 5px;
  margin-top: 5px;
  width: 40px;
  height: 40px;
  border: thin;
  border-radius: 20px;
  border-color: white;
}
