// Non-User HomePage
.Non-UserHomePage {
  min-width: 450px;
  // min-height: 1000px;
  height: 550px;
  overflow: hidden;
  overflow-x: hidden;
  // width: 100%;
  border-style: dashed;
  border-color: #00aaff;
}

.LeftSide {
  height: 550px;
  width: 450px;
  float: left;
  border-style: dashed;
  border-color: pink;
}

.RightSide {
  float: right;
  height: 550px;
  margin-left: 15px;
  // min-width: 400px;
  border-color: purple;
  border-style: dashed;
  //width: 30%;
  display: block;
}

.TopBroadcast {
  //position: relative;
  height: 235px;
  width: 450px;
  float: left;
  border-color: #25a805;
  border-style: dashed;
}

.Slideshow {
  height: 300px;
  // width: 400px;
  margin-top: 15px;
  margin-top: 250px;
  border-style: dashed;
  border-color: #cc0000;
  background-color: #c9c8c8;
}

.TopBroadcasts {
  margin-left: 15px;
  float: left;
  height: 550px;
  width: 150px;
  border-style: dashed;
  border-color: #2E2F30;
}

.TopSongs {
  margin-left: 15px;
  float: left;
  height: 550px;
  width: 150px;
  border-style: dashed;
  border-color: #2E2F30;
}

.Trending {
  margin-left: 15px;
  float: left;
  height: 550px;
  width: 150px;
  border-style: dashed;
  border-color: #2E2F30;
}

.GenreList {
  margin-left: 15px;
  float: left;
  height: 550px;
  width: 150px;
  border-style: dashed;
  border-color: #2E2F30;
}

// End of Non-User HomePage

.infobadge {
  display: block;
  margin-top: 4px;
  margin-right: 4px;
  background-color: #e2e7f2;
  color: #425173;
  width: auto;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.userHomePage {
  min-width: 1200px;
  height: 1000px;
}

.userBanner {
  position: fixed;
  top: 50px;
  left: -1px;
  height: 100px;
  min-width: 1000px;
  width: 100%;
  background-color: #c5cfe6;
  z-index: 555;
}

.home-header-column-avatar {
  position: relative;
  float: left;
  margin-left: 2px;
  margin-top: 10px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

.avatar-home {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

.home-header-column-user {
  position: relative;
  float: left;
  margin-left: 5px;
  height: 100%;
}

.userbadge {
  display: block;
  margin-top: 8px;
  background-color: #e2e7f2;
  color: #425173;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.home-header-column-posts {
  position: relative;
  float: left;
  margin-left: 8px;
  height: 100px;
  width: 200px;
}

.postBadge {
  position: relative;
  float: left;
  width: 50%;
  height: 25px;
}

.songBadge {
  position: relative;
  float: left;
  width: 50%;
  height: 25px;
}

.postsTotal {
  position: relative;
  float: left;
  width: 50%;
  height: 25px;
}

.songsTotal {
  position: relative;
  float: left;
  width: 50%;
  height: 25px;
}

.followersBadge {
  position: relative;
  float: left;
  width: 50%;
  height: 25px;
}

.followingBadge {
  position: relative;
  float: left;
  width: 50%;
  height: 25%;
}

.followersTotal {
  position: relative;
  float: left;
  width: 50%;
  margin-top: -7px;
  height: 25px;
}

.followingTotal {
  position: relative;
  float: left;
  margin-top: -7px;
  width: 50%;
  height: 25px;
}

.postColumn {
  position: relative;
  float: left;
  margin-left: 10px;
  height: 100px;
  width: 50px;
}

.btn-post {
  display: block;
  background-color: #e2e7f2;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  color: #425173;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}

.userfeed {
  position: relative;
  float: left;
  width: 50%;
  margin-top: 110px;
}

.recommended {
  position: relative;
  top: 110px;
  float: left;
  width: 50%;
}

.recommended-column {
  border-radius: 50px;
  width: 90%;
  background-color: #3ca4e3;
}

.recommendedUsers {
  height: 200px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.recommendedUser {
  display: inline-block;
  height: 180px;
  width: 250px;
  border-style: dotted;
}

.recommendedUserTop {
  height: 40px;
  width: 100%;
}

.recommendedUserMiddle {
  height: 80px;
  width: 100%;
}

.recommendedUserFav {
  height: 60%;
  width: 60px;
  border-radius: 100px;
  border-style: solid;
  border-width: medium;
  border-color: white;
}

.recommendedUserAvatar {
  height: 100%;
  width: 90px;
  border-radius: 100px;
  border-style: solid;
  border-width: medium;
  border-color: white;
}

.recommendedUserInfo {

}

.recommendedUsers::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.recommendedSongs::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.recommendedSongs {
  height: 200px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}

.recommendedSong {
  height: 200px;
  width: 150px;
  border-style: dotted;
}

.BCPlayer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 150px;
  background-color: pink;
  border-radius: 15px 30px 0px 0px;
}

.BCPlayerUserAvatar {
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  background-color: yellow;
}

.BCUserInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 70px;
  background-color: orange;
}

.BCCurrentSongCover {
  position: absolute;
  top: 25px;
  left: 45%;
  height: 100px;
  width: 100px;
  background-color: green;
}

.BCInfo {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 120px;
  background-color: blue;
}

.BCChat {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: purple;
  border-radius: 0px 0px 15px 30px;
}

.topChart {
  position: absolute;
  width: 95%;
  height: 450px;
  top: 530px;
  left: 2%;
  min-width: 342px;
  background-color: white;
  border-radius: 15px 30px;
}

.topChartFeed {
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  height: 420px;
  width: 100%;
}

.topChart-row {
  height: 170px;
  width: 100%;
}

.topChart-info-row {
  position: relative;
  float: left;
  height: 50px;
  width: 100%;
  background-color: yellow;
}

.topChart-cover-column {
  position: relative;
  float: left;
  height: 120px;
  width: 50%;
  background-color: green;
}

.playButton {
  height: 120px;
  width: 120px;
}

.topChart-artist-column {
  position: relative;
  float: left;
  width: 50%;
  height: 120px;
  width: 50%;
  background-color: red;
}

.bottomRow {
  height: 700px;
  min-width: 840px;
  width: 70%;
  position: absolute;
  top: 550px;
  left: 0;
}

.mobileAppColumn {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  width: 50%;
  height: 700px;
}

.iphone {
  position: absolute;
  border-radius: 20px;
  top: 20px;
  left: 50px;
  height: 600px;
  width: 75%;
  background-color: navy;
}

.premiumColumn {
  position: absolute;
  min-width: 300px;
  width: 50%;
  top: 0;
  right: 0;
  height: 700px;
}

.premiumTab {
  border-radius: 10px;
  background-color: cyan;
  position: absolute;
  top: 20px;
  left: 10px;
  width: 95%;
  height: 500px;
}

//Non-user Home page

//
////
//////
////
//

/*















.leftColumn{
  width: 30%;
}

.rightColumn{
  width: 70%;
}



*/
.exploreRow {
  height: 100%;
  width: 100%;
}

.exploreTopSongColumn {
  float: left;
  width: 170px;
  border-style: dotted;
  margin-right: 5px;
}

.exploreTopSongBox {
  height: 400px;
  border-style: dotted;
  border-color: #00aaff;
}

.exploreTopSongCover {
  position: relative;
  float: left;
  margin-left: 9px;
  height: 140px;
  width: 140px;
}

.exploreTopSongAva {
  margin-left: 1px;
  height: 25px;
  width: 25px;
  border-radius: 13px;
}

.exploreTopSongAlbumCover {
  float: left;
  height: 25px;
  width: 25px;
}

.exploreTopStreamerColumn {
  float: left;
  width: 260px;
  border-style: dotted;
  margin-right: 5px;
  .explore-avatar {
    height: 45px;
    width: 45px;
    border-radius: 50px;
    border-color: white;
    border-style: solid;
  }
}

.exploreTopStreamerBox {
  z-index: 2;
  border-style: dotted;
  border-color: #00aaff;
  position: absolute;
  width: inherit;
  button.play {
    position: absolute;
    margin-top: 86px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: rgba(26, 26, 26, .7);
    color: white;
    font-size: 30px;
    border-radius: 500px;
    cursor: pointer;
    margin-left: 103px;
  }
  button.follow {
    margin-top: 143px;
    width: 69px;
    height: 30px;
    border-radius: 190px;
    background: rgba(26, 26, 26, .7);
    border: none;
    color: white;
    position: absolute;
    margin-left: 92px;
  }
  .top {
    top: 0px;
    display: flex;
    width: auto;
    background: rgba(26, 26, 26, .5);

  }
  .bottom {
    margin-top: 186px;
    padding-top: .5px;
    background: rgba(26, 26, 26, .5);
    p {
      margin-bottom: 0px;
      color: white;
      text-overflow: ellipsis;
      max-width: 254px;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

#Top_Streamer_Text {
  color: white;
  margin-left: 6px;
  line-height: 0px;
}

.exploreTopStreamerColumnColumn {
  width: 50%;
  height: 100%;
  border-style: dotted;
  border-color: #4CAF50;
  float: left;
}

.exploreTopStreamerAva {
  position: relative;
  float: left;
  margin-left: 2px;
  margin-top: 10px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}

//
////
////// _search
////
//

.searchPageRow {
  width: 100%;
}

.searchPageColumn {
  width: 33%;
  height: 100%;
}

.left {
  position: relative;
  float: left;
  width: 33%;
  background-color: red;
}

.middle {
  position: relative;
  float: left;
  width: 33%;
  background-color: blue;
}

.right {
  position: relative;
  float: left;
  background-color: green;
}
