// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.infobadge{
  display: block;
  margin-top: 4px;
  margin-right: 4px;
  background-color: #e2e7f2;
  color: #425173;
  width: auto;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}
.home{
  min-width: 1200px;
  min-height: 1000px;
}
.userHomePage{
  min-width: 1200px;
  height: 1000px;
}
.userBanner{
  position: fixed;
  top: 50px;
  height: 100px;
  min-width: 1000px;
  width: 100%;
  background-color: #c5cfe6;
  z-index: 555;
}
.home-header-column-avatar {
  position: relative;
  float: left;
  margin-left: 2px;
  margin-top: 10px;
  height: 80px;
  width: 80px;
  border-radius: 40px;
}
.avatar-home{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}
.home-header-column-user{
  position: relative;
  float: left;
  margin-left: 5px;
  height: 100%;
}
.userbadge{
  display: block;
  margin-top: 8px;
  background-color: #e2e7f2;
  color: #425173;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}
.home-header-column-posts{
  position: relative;
  float: left;
  margin-left: 8px;
  height: 100px;
  width: 200px;
}
.postBadge{
  position: relative;
  float: left;
  width: 50%;
  height: 25px;
}
.songBadge{
  position: relative;
  float: left;
  width: 50%;
  height: 25px;
}
.postsTotal{
  position: relative;
  float: left;
  width: 50%;
  height: 25px;
}
.songsTotal{
  position: relative;
  float: left;
  width: 50%;
  height: 25px;
}
.followersBadge{
  position: relative;
  float: left;
  width: 50%;
  height: 25px;
}
.followingBadge{
  position: relative;
  float: left;
  width: 50%;
  height: 25%;
}
.followersTotal{
  position: relative;
  float: left;
  width: 50%;
  margin-top: -7px;
  height: 25px;
}
.followingTotal{
  position: relative;
  float: left;
  margin-top: -7px;
  width: 50%;
  height: 25px;
}
.postColumn{
  position: relative;
  float: left;
  margin-left: 10px;
  height: 100px;
  width: 50px;
}
.btn-post{
  display: block;
  background-color: #e2e7f2;
  height: 40px;
  width: 40px;
  margin-top: 5px;
  color: #425173;
  font-size: 15px;
  border-radius: 5px;
  font-weight: bold;
}
.userfeed{
  position: relative;
  float: left;
  width: 50%;
  margin-top: 110px;
}
.recommended{
  position: relative;
  margin-top: 110px;
  float: left;
  width: 50%;
}
.recommended-column{
  border-radius: 50px;
  width: 90%;
  background-color: #3ca4e3;
}
.recommendedUsers{
  height: 200px;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.recommendedUser{
  display: inline-block;
  height: 180px;
  width:250px;
  border-style: dotted;
}
.recommendedUserTop{
  height: 40px;
  width: 100%;
}
.recommendedUserMiddle{
  height: 80px;
  width: 100%;
}
.recommendedUserFav{
  height: 60%;
  width: 60px;
  border-radius: 100px;
  border-style: solid;
  border-width: medium;
  border-color: white;
}
.recommendedUserAvatar{
  height: 100%;
  width: 90px;
  border-radius: 100px;
  border-style: solid;
  border-width: medium;
  border-color: white;
}
.recommendedUserInfo{

}
.recommendedUsers::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.recommendedSongs::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}
.recommendedSongs{
  height: 200px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.recommendedSong{
  height: 200px;
  width: 150px;
  border-style: dotted;
}
.topRow{
  height: 500px;
  min-width: 840px;
  width: 70%;
  position: relative;
  float: left;
}
.slideshow{
  height: 450px;
  position: absolute;
  top: 30px;
  left: 3px;
  width: 98%;
  background-color: #c9c8c8;
}
.carouselBox{
  height: 450px;
}
.rightMenu{
  height: 1200px;
  min-width: 360px;
  width: 30%;
  position: relative;
  float: right;
}
.topBroadcast{
  position: relative;
  top: 30px;
  left: 1%;
  height: 450px;
  width: 98%;
  min-width: 220px;
  border-radius: 15px 30px;
}
.BCPlayer{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height:  150px;
  background-color: pink;
  border-radius: 15px 30px 0px 0px;
}
.BCPlayerUserAvatar{
  position: absolute;
  top: 0;
  left: 0;
  height: 90px;
  width: 90px;
  border-radius: 45px;
  background-color: yellow;
}
.BCUserInfo{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 70px;
  background-color: orange;
}
.BCCurrentSongCover{
  position: absolute;
  top: 25px;
  left: 45%;
  height: 100px;
  width: 100px;
  background-color: green;
}
.BCInfo{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 25px;
  width: 120px;
  background-color: blue;
}
.BCChat{
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height:  300px;
  background-color: purple;
  border-radius: 0px 0px 15px 30px;
}
.topChart{
  position: absolute;
  width: 95%;
  height: 450px;
  top: 530px;
  left: 2%;
  min-width: 342px;
  background-color: white;
  border-radius: 15px 30px;
}
.topChartFeed{
  overflow-y: scroll;
  position: absolute;
  bottom: 0;
  height: 420px;
  width: 100%;
}
.topChart-row{
  height: 170px;
  width: 100%;
}
.topChart-info-row{
  position: relative;
  float: left;
  height: 50px;
  width: 100%;
  background-color: yellow;
}
.topChart-cover-column{
  position: relative;
  float: left;
  height: 120px;
  width: 50%;
  background-color: green;
}
.playButton{
  height: 120px;
  width: 120px;
}
.topChart-artist-column{
  position: relative;
  float: left;
  width: 50%;
  height: 120px;
  width: 50%;
  background-color: red;
}
.bottomRow {
  height: 700px;
  min-width: 840px;
  width: 70%;
  position: absolute;
  top: 550px;
  left: 0;
}
.mobileAppColumn{
  position: absolute;
  top: 0;
  left: 0;
  min-width: 300px;
  width: 50%;
  height: 700px;
}
.iphone{
  position: absolute;
  border-radius: 20px;
  top: 20px;
  left: 50px;
  height: 600px;
  width: 75%;
  background-color: navy;
}
.premiumColumn{
  position: absolute;
  min-width: 300px;
  width: 50%;
  top: 0;
  right: 0;
  height: 700px;
}
.premiumTab{
  border-radius: 10px;
  background-color: cyan;
  position: absolute;
  top: 20px;
  left: 10px;
  width:  95%;
  height: 500px;
}

//Non-user Home page







//
////
//////
////
//


/*















.leftColumn{
  width: 30%;
}

.rightColumn{
  width: 70%;
}



*/
.explore-page-row {
  height: 100%;
  width: 100%;
}

.explore-TopDj-column{
  float: left;
  width: 20%;
  border-style: dotted;
}

.explore-TopChart-column{
  float: left;
  width: 20%;
  border-style: dotted;
}
.explore-TopChart-row-column {
  float: left;
  width: 100px;
  height: 100%;
}
.explore-TopChart-info-column {
  float: left;
  width: calc(100% - 100px);
  height: 100%;
}
.explore-TopChart-row {
  height: 100px;
  width: 100%;
}
.explore-TopArtist-column {
  float: left;
  width: 20%;
  border-style: dotted;
}
.explore-TopChartforGenre-column {
  float: left;
  width: 20%;
  border-style: dotted;
}
.explore-Clout-column {
  float: left;
  width:20%;
  border-style: dotted;
}

//
////
////// _search
////
//

.searchPageRow{
  width: 100%;
}
.searchPageColumn{
  width: 33%;
  height: 100%;
}
.left{
  position: relative;
  float: left;
  width: 33%;
  background-color: red;
}
.middle{
  position: relative;
  float: left;
  width: 33%;
  background-color: blue;
}
.right{
  position: relative;
  float: left;
  background-color: green;
}
