// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #0af;
$hover-color: #25a805;
$background: black;
.list-item {
  &:hover {
    background-color: white;
    display: block;
  }
}

.PlaylistOptions {
  display: block;
  width: 0px;
  height: 0px;
  margin-top: 6px;
  border: 0;
  color: white;
  font-size: 30px;
  border-radius: 100000px;
  cursor: pointer;
}

.displayOptions {
  background-color: #00aaff;
  width: 0px;
  margin-left: 240px;
}

#Create_Playlist {
  border-radius: 10px;
  background-color: white;
  height: 38px;
}

#playlist_text_Field {
  width: 220px;
  height: 20px;
  border-radius: 25px;
  border: 2px solid #609;
  padding: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.addPlaylist {
  display: flex;
  background-color: #730E15;

  h5 {
    margin-top: 13px;
    width: 230px;
    color: white;
  }

  &:hover {
  }

  &:hover img {
    filter: blur(2px);
  }

  &:hover .add_to_playlist {
    visibility: visible
  }

}

.add_to_playlist {
  display: block;
  width: 0px;
  height: 0px;
  margin-left: -292px;
  margin-top: 6px;
  border: 0;
  color: white;
  font-size: 30px;
  border-radius: 100000px;
  cursor: pointer;
  visibility: hidden;

  &:hover {

  }
}

.options_list {
  display: block;
  position: absolute;
  background-color: black;
  color: white;
  visibility: hidden;
  margin-top: 1px;
  margin-left: -121px;
  width: 123px;
  font-size: 17px;
  line-height: 30px;
 }
