// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$blue: #0af;
$hover-color: #25a805;
$background: black;
$ImageMargin: 160px;
$imageSize: 140px;
.list-item {
  &:hover {
    background-color: white;
    display: block;
  }
}

.playlist_title {
  padding-bottom: 30px;
}

.PlaylistOptions {
  display: block;
  width: 0px;
  height: 0px;
  margin-top: 6px;
  border: 0;
  color: white;
  font-size: 30px;
  border-radius: 100000px;
  cursor: pointer;
  margin-left: 83px;

  &:hover .options_list {
    visibility: visible;
  }
}

.displayOptions {
  background-color: #00aaff;
  width: 0px;
  margin-left: 240px;

}

#Create_Playlist {
  border-radius: 10px;
  background-color: white;
  height: 38px;
}

#playlist_text_Field {
  width: 302px;
  height: 20px;
  border-radius: 25px;
  border: 2px solid #609;
  padding: 20px;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}

.addPlaylist {
  display: flex;
  background-color: #730E15;

  h5 {
    width: 290px;
    color: white;
    margin-left: 56px;
    position: absolute;
    height: 33px;
    max-lines: 1;
    margin-top: 12px;
  }

  &:hover {
  }

  &:hover img {
    filter: blur(2px);
  }

  &:hover .add_to_playlist {
    visibility: visible
  }

}

.add_to_playlist {
  width: 0px;
  height: 0px;
  margin-left: -62px;
  margin-top: 6px;
  border: 0;
  color: white;
  font-size: 30px;
  border-radius: 100000px;
  cursor: pointer;
  visibility: hidden;

  &:hover {

  }
}

.options_list {
  display: block;
  position: relative;
  background-color: black;
  color: white;
  visibility: hidden;
  margin-top: -30px;
  margin-left: -121px;
  width: 123px;
  font-size: 17px;
  line-height: 30px;
  z-index: 2;

  a {
    display: block;
    list-style-type: none;
  }

  a:hover {
    background-color: seagreen;
  }
}

.playlist_box {
  position: relative;
  height: 345px;
  width: 300px;
  margin: auto;
  background: #425173;
  z-index: 0;
  top: 10px;
  border: 0;
  border-radius: 10px;

  button.play {
    position: absolute;
    margin-top: 135px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    border-radius: 500px;
    cursor: pointer;
    margin-left: 125px;
    visibility: hidden;
  }

  .one_image {
    position: absolute;
    height: 280px;
    width: 280px;
    margin-left: 10px;
    top: 20px;
  }

  .image1 {
    top: 20px;
    position: absolute;
    left: 11px;
    width: $imageSize;
    height: $imageSize;
  }

  .image2 {
    top: 20px;
    right: 11px;
    position: absolute;
    width: $imageSize;
    height: $imageSize;
  }

  .image3 {
    left: 11px;
    position: absolute;
    margin-top: $ImageMargin;
    width: $imageSize;
    height: $imageSize;
  }

  .image4 {
    right: 11px;
    position: absolute;
    margin-left: $ImageMargin;
    margin-top: $ImageMargin;
    width: $imageSize;
    height: $imageSize;
  }

  h3 {
    color: white;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    bottom: 9px;
    position: absolute;
    text-align: center;
    margin: auto;
    font-weight: 100;
    padding-left: 10px;
    padding-right: 10px;
  }

  p {
    color: white;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    top: 200px;
    position: absolute;
    text-align: center;
    margin: auto;
    visibility: hidden;
  }

  &:hover .image4, &:hover .image1, &:hover .image2, &:hover .image3, &:hover .one_image {
    filter: brightness(50%);
  }

  &:hover button.play {
    visibility: visible;
  }

  &:hover p {
    visibility: visible;
  }
}
