// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.loginBox{
  height: 100%;
  width: 100%;
  background-color: #5e5e5e;
  border-radius: 3px;
  border-style: solid;
  border-color: #2E2F30;
  .emailBox{
    border-radius: 10px;
    width: 100%;
  }
}
