$blue: #0af;
$hover-color: #25a805;

.musicPlayer {
  height: 100px;
  width: 100%;
  background-color: #5d7ca6;
  display: flex;
  align-items: center;
}

.songDetails {
  position: relative;
  float: left;
  height: 100%;
  min-width: 300px;
}

.songCover {
  position: relative;
  float: left;
  height: 100%;
  width: 100px;
  margin-right: 5px;
}

.songArtist {
  position: relative;
  float: left;
}

.songArtistAvatarImage {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  border-color: white;
  border: thin;
}

.userDetails {
  position: relative;
  float: left;
  width: 25%;
  height: 100%;
  background-color: blue;
}

.playerCoverImage {
  margin-left: 5px;
  margin-top: 5px;
  width: 90px;
  height: 90px;
  border: none;
}


.postLeft {
  margin-top: 5px;
}

.postCenter {
  min-width: calc(100% - 240px);
}

.postRight {
  min-width: 90px;
}

.post-ava {
  display: block;
  height: 90px;
  width: 90px;
  border-radius: 50px;
  border-color: white;
  border-style: solid;
}

.broadcaster-ava {

  display: inline-block;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

.playButton {
  height: 140px;
  width: 140px;
}

.playButtonImage {
  height: 140px;
  width: 140px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  background-color: inherit;
}

.audio-player {
  display: flex;
  align-items: center;
  width: 600px;
  background-color: #5d7ca6;
  margin: auto;

  button.playlist-modal {
    position: absolute;
    display: flex;
    width: 100px;
    height: 50px;
    margin-left: 650px;
  }

  button.play {
    display: block;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: $blue;
    color: white;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  .center {
    float: center;
  }

  .postButton {
    margin-left: 7px;
  }

  .seek-bar {
    width: 400px;
    margin-top: 10px;
    background-color: #730E15;
    display: flex;
    border-radius: 100000px;
    cursor: pointer;
    margin-left: 90px;
    height: 7px;
    paddinng-right: 5px;

    .fill {
      height: 7px;
      background-color: $blue;
      border-radius: 100000px;
    }

    .handle {
      width: 7px;
      height: 7px;
      background-color: $blue;
      border-radius: 100000px;
      margin-left: -5px;
      margin-bottom: 30px;
      transform: scale(2);
      transition: all 0.1s;

      &:hover {
        background-color: $hover-color;
        transform: scale(3);
      }
    }
  }

  button.volume {
    width: 46px;
    height: 46px;
    background-color: $blue;
    color: white;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  button.skip_forward {
    margin-left: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: $blue;
    color: white;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  button.back {
    margin-left: 10px;
    display: block;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: $blue;
    color: white;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

  button.shuffle {
    margin-left: 25%;
    display: block;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: $blue;
    color: white;
    font-size: 30px;
    border-radius: 100000px;
    cursor: pointer;

    &:hover {
      background-color: $hover-color;
    }
  }

}

button.volume {
  width: 50px;
  height: 50px;
  background-color: $blue;
  color: white;
  border: 0;
  font-size: 30px;
  border-radius: 100000px;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}

.right_footer {
  float: right;
  width: 200px;

  .right_elements {
    display: flex;
    align-items: center;
    margin: auto;

    button.broadcast {
      display: block;
      width: 43px;
      height: 43px;
      margin-left: 30px;
      border: 0;
      background-color: $blue;
      color: white;
      font-size: 30px;
      border-radius: 100000px;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
      }
    }

    button.playlist {
      display: block;
      width: 43px;
      height: 43px;
      margin-left: 10px;
      border: 0;
      background-color: $blue;
      color: white;
      font-size: 30px;
      border-radius: 100000px;
      cursor: pointer;

      &:hover {
        background-color: $hover-color;
      }
    }

    .volume_bar {
      margin-left: 15px;
      width: 150px;
      background-color: #730E15;
      display: flex;
      align-items: center;
      border-radius: 100000px;
      cursor: pointer;
      height: 7px;

      .volume_fill {
        height: 7px;
        background-color: $blue;
        border-radius: 100000px;
      }

      .volume_handle {
        width: 10px;
        height: 10px;
        background-color: $blue;
        border-radius: 100000px;
        margin-left: -5px;
        transform: scale(2);
        transition: all 0.1s;

        &:hover {
          background-color: $hover-color;
          transform: scale(3);
        }
      }
    }
  }
}

.song {
  background-color: #7096e8;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  min-height: 150px;
  border-radius: 10px;
  border-style: solid;
  border-color: #C2D5E3;
}

.genres {
  //position: absolute;

}

.form-content {

  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  display: block;
  font-size: 25px;
  padding-bottom: 10px;
}
