$blue: #0af;
$hover-color: #730E15;
$theme: #595453;
$sideColor: #730E15;
$fontSize: 28px;
$buttonColor: #eaa766;
//hello
.musicPlayer {
  height: 81px;
  width: 100%;
  background-color: $theme;
  align-items: center;
  display: flex;
}

.CancelPostModal{
  display: flex;
  height: min-content;
}

.songDetails {
  position: relative;
  float: left;
  height: 100%;
  min-width: 212px;
  @media only screen and (max-width: 500px) {
    min-width: 96px;
  }
}

.songCover {
  position: relative;
  float: left;
  height: 100%;
  width: 74px;
}

.like_button_liked {
  display: block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  font-size: 30px;
  border-radius: 100000px;
  cursor: pointer;
  border-style: none;
  margin-left: 52px;
  padding-right: 0px;
  margin-top: 20px;
  -webkit-animation: bgcolor 3s infinite;
  animation: bgcolor 1s infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}

.like_button {
  display: block;
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: white;
  font-size: 30px;
  border-radius: 100000px;
  cursor: pointer;
  border-style: none;
  margin-left: 52px;
  padding-right: 0px;
  display: block;
  margin-top: 20px;

  &:hover {
    -webkit-animation: bgcolor 3s infinite;
    animation: bgcolor 1s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
  }

}

@keyframes bgcolor {
  0% {
    color: #fc030f
  }

  30% {
    color: #fc7303
  }
  60% {
    color: #fca903
  }
  80% {
    color: #fc6203
  }
  100% {
    color: #fc033d
  }
}

.songArtist {
  position: relative;
  float: left;
  margin-left: 10px;
  @media only screen and (max-width: 500px) {
    display: none
  }
  p {
    margin-left: 5px;
  }
}

.songInfo {
  font-size: 15px;
  display: block;
  margin-bottom: 2px;
  color: white;
}

.songArtistAvatarImage {
  height: 35px;
  width: 35px;
  border-radius: 20px;
  border-color: white;
  border: thin;
}

.userDetails {
  position: relative;
  float: left;
  width: 25%;
  height: 100%;
  background-color: blue;
}

.playerCoverImage {
  margin-left: 0px;
  width: 79px;
  height: 79px;
  border: none;
}
.postRight {
  min-width: 90px;
}
.broadcaster-ava {

  display: inline-block;
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
}

.playButton {
  height: 140px;
  width: 140px;
}

.playButtonImage {
  height: 140px;
  width: 140px;
  border-style: solid;
  border-radius: 10px;
  border-color: white;
  background-color: inherit;
}

.Center-Audio {
  margin: auto;
  text-align: center;
  width: 75%;
}

.audio-player {
  display: flex;
  align-items: center;
  background-color: $theme;
  margin: auto;
  top: -6px;
  position: relative;
  .audio-buttons {
    display: flex;
    margin: auto;
    position: relative;

    #like_button {
      display: none;
    }
    @media only screen and (max-width: 600px) {
      top: 8px;
    }
  }

  button.playlist-modal {
    position: absolute;
    display: flex;
    width: 100px;
    height: 50px;
    margin-left: 650px;
  }

  button.play {
    display: block;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 31px;
    border-radius: 100000px;
    cursor: pointer;

  }

  .center {
    margin: auto;
  }

  .postButton {
    margin-left: 7px;
  }

  .seek-bar {
    min-width: 75%;
    top: 10px;
    background-color: $buttonColor;
    display: flex;
    border-radius: 100000px;
    cursor: pointer;
    margin: auto;
    height: 7px;
    padding-right: 5px;
    position: relative;
    @media only screen and (max-width: 600px) {
      display: none
     }
    .fill {
      height: 7px;
      background-color: $blue;
      border-radius: 100000px;
    }

    .handle {
      width: 6px;
      height: 6px;
      background-color: $blue;
      border-radius: 100000px;
      margin-left: -5px;
      margin-bottom: 30px;
      transform: scale(2);
      transition: all 0.1s;

      &:hover {
        background-color: $hover-color;
        transform: scale(3);
      }
    }
  }

  button.repeat {
    margin-left: 10px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    border-radius: 100000px;
    cursor: pointer;

  }

  button.skip_forward {
    margin-left: 10px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    border-radius: 100000px;
    cursor: pointer;

  }

  button.back {
    margin-left: 10px;
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    border-radius: 100000px;
    cursor: pointer;

  }

  button.shuffle {
    display: block;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    border-radius: 100000px;
    cursor: pointer;

  }
}

button.volume {
  width: 40px;
  height: 43px;
  background-color: transparent;
  color: white;
  font-size: 27px;
  border-radius: 100000px;
  cursor: pointer;

}

.button_layout {
  border-style: none;
  transition: all 0.1s;

  &:hover {
    transform: scale(1.3);
  }

}

.musicPlayer {
  height: 81px;
  max-width: 100%;
  background-color: $theme;
  align-items: center;
}

.right_footer {
  width: 200px;
  float: right;
  right: 6px;
  position: relative;
  top: 3px;
  @media only screen and (max-width: 760px) {
    visibility: hidden;
    width: 0px;
  }
  .right_elements {
    display: flex;
    align-items: center;
    height: 39px;

    button {
      i {
        font-size: $fontSize;
      }

      ion-icon {
        font-size: $fontSize;
      }
    }

    button.broadcast {
      display: block;
      width: 43px;
      height: 43px;
      margin-left: 25px;
      background-color: transparent;
      color: white;
      border-radius: 100000px;
      cursor: pointer;
      margin-top: 16px;

    }

    button.playlist {
      display: block;
      width: 43px;
      height: 43px;
      margin-left: 10px;
      background-color: transparent;
      color: white;
      border-radius: 100000px;
      cursor: pointer;
      margin-top: 22px;

    }

    .volume_bar {
      margin-left: 15px;
      width: 150px;
      background-color: $buttonColor;
      display: flex;
      align-items: center;
      border-radius: 100000px;
      cursor: pointer;
      height: 7px;

      .volume_fill {
        height: 7px;
        background-color: $blue;
        border-radius: 100000px;
      }

      .volume_handle {
        width: 7px;
        height: 7px;
        background-color: $blue;
        border-radius: 100000px;
        margin-left: -5px;
        transform: scale(2);
        transition: all 0.1s;
        margin-bottom: 3px;

        &:hover {
          background-color: $hover-color;
          transform: scale(3);
        }
      }
    }
  }
}

.song {
  background-color: #7096e8;
  display: block;
  overflow: hidden;
  width: 100%;
  margin-bottom: 10px;
  min-height: 150px;
  border-radius: 10px;
  border-style: solid;
  border-color: #C2D5E3;
}

.genres {
  //position: absolute;

}

.form-content {

  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  display: block;
  font-size: 25px;
  padding-bottom: 10px;
}

