<h1>Broadcasters#index</h1>
<p>Find me in app/views/broadcasters/index.html.erb</p>
<% if @broadcasters.nil? %>
  <h1>Back to the lab again</h1>
<% else %>
  <% @broadcasters.each do |f| %>
    <%= render partial: "broadcasters/post", :locals => {:broadcaster => f} %>
  <% end %>
<% end %>

